.response {
  height: 20px
}
.responseIcon {
  display: inline-block; 
  height: 100%; 
  color: #FFA00A;
  margin-right: 15px
}
.responseData {
  font-family: "Lucida Console", Monaco, monospace;
  color: #FFA00A;
}
.prompt {
  height: 20px
}

.promptLine {
  height: 100%
}

.promptIcon {
  display: inline-block; 
  height: 100%; 
  color: #97ED8A;
  margin-right: 20px
}
.userInput {
  color: #97ED8A;
  font-family: "Lucida Console", Monaco, monospace;
}
.cursor {
  display: inline-block;
  width: 10px;
  height: 15px;
  background-color: white;
}

.history {
  // color: #B64926
}

.input {
    height: 2px;
    width: 2px;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    overflow: hidden;
    color: transparent;
}
.off {
  background-color: transparent
}
.console {
  height: 100%;
  background-color: rgb(14, 22, 40);
}
body {
  height: 95vh
}
.consoleInterative {
  height: 95%;
  overflow-y: auto;
  color: #F4FFFF;
  margin-left: 20px
}
.panel {
  height: 5%;
  color: #F4FFFF;
  align-items: center; 
  display: flex;
  margin: auto;
  width: 50%
}
button {
  position: fixed;
  margin-left: 25%;
  vertical-align: middle;
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #002F2F
}