.response {
  height: 20px
}
.responseIcon {
  display: inline-block; 
  height: 100%; 
  color: #FFA00A;
  margin-right: 15px
}
.responseData {
  font-family: "Lucida Console", Monaco, monospace;
  color: #FFA00A;
}